:root {
    --kmb: #e60012;
    --ctb: #fedd00;
    --lwb: #fe5000;
}

#icon-close,
#icon-navigate-next,
#icon-refresh,
#icon-swap_vert {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 20;
    background-color: transparent;
}

#icon-navigate-next {
    font-size: 2rem;
}

#icon-refresh {
    font-size: 2rem;
}

#icon-close {
    font-size: 2rem;
}
