.metro-data-card{
    width: 95%;
}

.mtr-line-color{
    width: 2.5em;
    height: 2.5em;
    border-radius: 18px;
}

.mtr-line-color.ael {
    background-color: var(--ael-color);
}

.mtr-line-color.drl {
    background-color: var(--drl-color);
}

.mtr-line-color.eal {
    background-color: var(--eal-color);
}

.mtr-line-color.isl {
    background-color: var(--isl-color);
}

.mtr-line-color.ktl {
    background-color: var(--ktl-color);
}

.mtr-line-color.sil {
    background-color: var(--sil-color);
}

.mtr-line-color.tcl {
    background-color: var(--tcl-color);
}

.mtr-line-color.tkl {
    background-color: var(--tkl-color);
}

.mtr-line-color.tml {
    background-color: var(--tml-color);
}

.mtr-line-color.twl {
    background-color: var(--twl-color);
}