@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    font-optical-sizing: auto;
    src: url("../../res/font/InterVariable.woff2") format("woff2");
}

@font-face {
    font-family: InterVariable;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    font-optical-sizing: auto;
    src: url("../../res/font/InterVariable-Italic.woff2") format("woff2");
}