.bus-data-card {
    width: 95%;
    margin: auto;
    cursor: pointer;
}

.bus-data-card:hover {
    background-color: var(--gray-3);
}

.data-card-route-num {
    font-size: 2rem;
    width: 2.3em;
    text-align: center;
    font-variation-settings: "wght" 500,"wdth" 50;
}

.bus-co-color {
    font-weight: 500;
    padding: 1px 5px;
    border-radius: 18px;
}

.kmb {
    background-color: var(--kmb);
}

.ctb {
    color: black;
    background-image: linear-gradient(110deg, var(--ctb) 65%, #0057b8 35%);
}

.lwb {
    color: black;
    background-color: var(--lwb);
}