#now-route-num {
    font-variation-settings: "wght" 500, "wdth" 50;
    font-size: 3.2rem;
}

#now-route-dest {
    font-size: 1.5rem;
    font-weight: 500;
}

#now-route-info {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 5px;
    background-color: var(--gray-1);
}

#icon-swap_vert {
    cursor: pointer;
    padding: 10px;
    border-radius: 18px;
    font-size: 3rem;
    border-radius: 18px;
    user-select: none;
}

#icon-swap_vert:hover {
    background-color: var(--gray-5);
}

#icon-swap_vert[state="loading"] {
    animation: rotate 0.2s ease-in-out;
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}