.AvatarRoot.ael {
    background-color: var(--ael-color);
}

.AvatarRoot.drl {
    background-color: var(--drl-color);
}

.AvatarRoot.eal {
    background-color: var(--eal-color);
}

.AvatarRoot.isl {
    background-color: var(--isl-color);
}

.AvatarRoot.ktl {
    background-color: var(--ktl-color);
}

.AvatarRoot.sil {
    background-color: var(--sil-color);
}

.AvatarRoot.tcl {
    background-color: var(--tcl-color);
}

.AvatarRoot.tkl {
    background-color: var(--tkl-color);
}

.AvatarRoot.tml {
    background-color: var(--tml-color);
}

.AvatarRoot.twl {
    background-color: var(--twl-color);
}