:root {
    --ael-color: #1c7670;
    --drl-color: #f550a6;
    --eal-color: #5eb6e4;
    --isl-color: #0860a8;
    --ktl-color: #1a9431;
    --sil-color: #b5bd00;
    --tcl-color: #fe7f1d;
    --tkl-color: #6b208b;
    --tml-color: #9a3b26;
    --twl-color: #ff0000;
}

#icon-navigate-next,
#icon-swap_vert {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 20;
    background-color: transparent;
}

#icon-navigate-next {
    font-size: 2rem;
}

