#nav-bus,
#nav-metro,
#nav-title {
    padding: 8px;
    font-size: 1.5rem;
    border-radius: 18px;
    user-select: none;
    -webkit-user-select: none;
}

#nav-bus,
#nav-metro,
#nav-title {
    cursor: pointer;
}

#nav-bus:hover:not(.active),
#nav-metro:hover:not(.active) {
    background-color: var(--gray-5);
}

.active {
    background-color: var(--indigo-5);
}